/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo-size: #f3f2f2;
    --vermelho: #5E1E13;
    --amarelo: #D1AD54;
    --bege: #B7A48E;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/*----------menu---------*/

/* header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 155px;

}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 20px;
    color: #D1AD54;
    text-decoration: none;
    /* text-transform: uppercase; */
/* font-family: "inter", sans-serif; */

/* .menu a:hover{
   color: #5E1E13;   
   /* muda a cor das palavras */


/* hamburguer */







/* 

@media screen and (max-windth: 768px){
#sombra{
backgraund-color: var(--caramelo);
backdrop-filter:  blur(10px);
z-index: 1;
position: fixed;
width: 100WV; */

body{
    background-color: #f3f2f2
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Charter-regular";
    src: url(./fonts/Bigilla-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo-size: #f3f2f2;
    --vermelho: #5E1E13;
    --amarelo: #D1AD54;
    --bege: #B7A48E;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}


/* -------- Menu ------- */
header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Tamanho da logo */
header img {
    width: 250px;
}

/* Tamanho da escrita do menu */
.menu {
    max-width: 900px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 25px;
    color: var(--fundo-size);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-family: "Inter", sans-serif;
}

.menu a:hover {
    color: var(--amarelo)
}

/* -------- Menu Hamburguer ------- */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}






/* ---------- Reponsividade ---------------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--caramelo);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;
        background: none;
        border: none;
        display: unset;
        cursor: pointer;
    }

    /* cor do iconi */
    header svg {
        fill: var(--branco);
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 1px;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--branco);
    }
}

.Banner {
    height: 100vh;
    background-image: url(./img/torta\ de\ morango\ 01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



 #sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px;
     /* background-color: aqua;  */
} 

 #sobre>div{

    display: flex;
    gap: 20px;
    width: 50%;
}
#sobre>div>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#sobre>div>div>img{
    width: 350px; 
}
 #sobre h2 {
    margin-right: 5px;
}

#sobre img {
    max-width: 460px;
    width: 100%;
    border-radius: 40px;
}


#sobre p {
    font-size: 20px;
    text-align: justify;
    margin-top: 110px;
   color: #000;
} 

 
.titulo {
   width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: "Georgia", serif;
  color: var(--bege);
  position: relative;
  margin-bottom: 40px;
}

.titulo::after {
  content: "";
  width:380px;
  height: 2px;
  background-color: var(--amarelo);
  display: block;
  margin: 2px auto 0;
  
}

.subtitulo{
 font-size: 25px;
  font-family: "Georgia", serif;
  color: var(--bege);
  position: relative;
  margin-bottom: 20px;
  text-align: left;

}

.subtitulo::after{
  content: "";
  width: 240px;
  height: 2px;
  background-color: var(--amarelo);
  display: block;
  margin: 2px auto 0;
}
.subtitulo-vovo {
     font-size: 25px;
  font-family: "Georgia", serif;
  color: var(--bege);
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

.subtitulo-vovo::after{
    content: "";
  width: 180px;
  height: 2px;
  background-color: var(--amarelo);
  display: block;
  margin: 2px auto 0;
}


/* banner */


.img-carrossel{

    background-image: url(./img/calda\ de\ chocolate.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.saiba-mais{
    display: flex;
    justify-content: end;
    
}

.saiba-mais h3 {
    color: var(--branco);
    background-color:var(--vermelho);
    border-radius: 10px;
    height: 60px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right:50px ;
}

.saiba-mais :hover{
    transition: 0.4s;
 color: #D1AD54;
}


.texto-carrossel {
   color: #fff;
   font-size: 40px;
padding-top: 700px;

}

/* contato */



#contato {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding-bottom: 100px;
    margin-top: 100px;
    padding: 100px; */
}

#contato .titulo{
    justify-content: center;
    margin-bottom: 55px;
}

#contato h2{
    margin-left: 5px;
}

 #contato form{
    max-width: 600px;
    width: 90%;

    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 3px var(--caramelo);
    border-radius: 40px;
    background-color: var(--contato);

    color: var(--preto);
    
    font-size: 17px;
} 
.conteudo-contato form {
    width: 600px;
}
.campo{
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.campo-descricao {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.campo input{
    height: 40px;
    color: var(--amarelo);
    background-color: var(--branco);
    border: none;
    border-radius: 4px;
    text-indent: 10px;
    outline: none;
}

.campo-descricao textarea{
    color: var(--preto);
    background-color: var(--branco);
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    resize: none;
}

.campo label,
.campo-descricao label{
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea{
    
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder{
    color: #A0A0A0;
}

.campo input:focus,
.campo-descricao textarea:focus{
    outline: 2px solid var(--vermelho);
}

#contato form button{
    height: 40px;
    width: 60%;

    background-color: var(--amarelo);
    color: var(--branco);
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms;
}

    .mapa img{
height: 600px;
    }

/* ---------footer ---------- */


footer img {
    height: 200px;
}


.footer {
    background: var(--vermelho);
    color: #ffffff;
    padding: 30px 30px;
    margin-top: 190px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

.footer h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: normal;
}

.footer p {
    margin: 6px 0;
    font-size: 15px;
}

.icons img {
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.icons{
    max-height: 100px;
}
.copy {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.conteudo-contato{
display: flex;
flex-direction: row;
width: 80%;
justify-content: space-evenly;
}

.espaco_contato{
width: 1700px;
}
